%{ for securityGroupId in securityGroupIds }
apiVersion: vpcresources.k8s.aws/v1beta1
kind: SecurityGroupPolicy
metadata:
  name: "spacelift-${securityGroupId}"
  namespace: "${namespace}"
spec:
  podSelector:
    matchLabels:
      "spacelift.io/security-group-id" : "${securityGroupId}"
  securityGroups:
    groupIds:
      - "${securityGroupId}"
      - "${clusterPrimarySecurityGroupId}"
---
%{~ endfor }
